<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Potter's Queue</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<link rel-"stylesheet" href="{{ url_for('static', filename='common.css') }}">
		<script src="{{ url_for('static', filename='js/base.js') }}"defer></script>
		{%% block css %%}
		{%% block js %%}
	</head>
	<body>
		<header class="header-container">
			<a href="/"><h2 class="header-title">Potters Queue</h2></a>
			<nav class="navigation-container">
				<ul>
					<a href="/login"><li class="link">Sign In</li></a>
					{%% if current_user.is_authenticated %%}
					<a href="/sign_up"><li class="link">Sign Up</li></a>
					<a href="/profile"><li class="link">Profile</li></a>
					<a href="/logout"><li class="link">Sign Out</li></a>
					{%% endif %%}
				</ul>
			</nav>
		</header>
		{%% block body content %%}
		{%% endblock body content %%}
		<footer class="footer-container">
			<p class="footer-details">Potter's Queue</p>
		</footer>
	</body>
</html>
