<!DOCTYPE=html>
<html lang="en">
	{%% extends 'base.html' %%}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
	{%% extends 'base.html' %%}

	{%% block js %%}
	<script src="{{ url_for('static', filename='index.js') }}" defer></script>
	{%% endblock js  %%}
	
	{%% block body content %%}
	<main class="main-container">
		<h1 class="main-header">Welcome to the Homepage</h1>
		<p class="main-subtitle">Little Project</p>
	</main>
	{%% end block  body content %%}
</html>
