<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Potters Queue</title>
        <meta charset="utf-8">
        <meta name="Author" content="Cynthia Dodzi">
        <meta name="Description" content="A simple webpage to record attendance and contributions">
        <link rel="stylesheet" href="/static/header.css">
        <link rel="stylesheet" href="/static/footer.css">
        <link rel="stylesheet" href="/static/common.css">
        <link rel="icon" href="/image/logo.jpg" type="/image.x-icon">
    </head>
    <body>
        <header>
            <link rel="icon" href="/image/logo.jpg" type="/image/x-icon">
            <h1>Potters Queue</h1>
            <button><h1>Login</h1></button>
            <button><h1>Front Desk</h1></button>
            <button><h1>Accounts office</h1></button>
            <button><h1>Admin Hub</h1></button>
        </header>
        
        <div class="container">
            <section class="filters">
                <button class="search-button">Search</button>
            </section>
        </div>
        <form action="">Email: </form>
        <form action="">Password</form>
        <button>login</button>
        <footer>
            God's Kingdom, Our Priority! 2024
        </footer>
    </body>

</html>